@{
    ViewBag.Title = "Admin";
}
 <hr class="soften">
 <div class="accordion-group">
<div class="accordion-heading">
<h2 class="accordion-toggle collapsed">Products: <a  href="@Url.Content("~/Catagery/Products")">Show Details</a> </h2>
<h2  class="accordion-toggle" >All User Info: <a href="@Url.Content("~/Admin/Users")">Show Details</a></h2>
	

             
                  </div>
                    </div>